// If you edit this file you need to compile the theme. See README.md for details.
// Global variable overrides. Must be declared before importing Valo.
// For more information, see: https://vaadin.com/book/-/page/themes.valo.html
// Example variants can be copy/pasted from https://vaadin.com/wiki/-/wiki/Main/Valo+Examples

$v-border-radius: 3px;
$v-gradient: false;
$v-bevel-depth: 42%;

$v-font-size: 14px;
$v-unit-size: 34px;
$v-font-family: Roboto, sans-serif;
$v-font-weight: 400;
$font-weight-light: 300;

/* Layout margin and spacing */
$my-layout-margin: 15px;
$v-layout-margin-left: $my-layout-margin;

/* Grid styles */
$v-font-size: 14px;
/*
$v-grid-row-background-color: #fff;
$v-grid-row-stripe-background-color: $v-grid-row-background-color;
$v-grid-header-background-color: #eee;
$v-grid-header-font-size: 16px;
$v-grid-cell-focused-border: none;
*/

@import "../valo/valo.scss";
@import "components/tabsheet.scss";
@import "components/grid.scss";
@import "components/responsive.scss";
@import "components/menubar.scss";
@import "components/button.scss";
@import "components/panel.scss";

@mixin mytheme {
  @include valo;
  @include tabsheet;
  @include grid;
  @include responsive;
  @include menubar;
  @include button;
  @include panel;

  // Insert your own theme rules here
  
  	.v-label-customerstyle {
		color: blue;
		font-size: 20px;
		font-family: monospace;
		font-style: italic;
	}
  
  	.v-label-plusequal {
  		font-style: oblique;
  		font-size: 20px;
  		font-weight: bold;
  	}
  
  	.v-label-menutitle {
  		color: white;
  		font-size: 20px;
  		font-family: monospace;
  		font-style: italic;
  	}
  	
  	.v-caption-textalig {
  		text-align: center;
  		font-size: 16px;
  		font-style: oblique;
  		color: blue;
  	}
  	
  	.v-caption-textnoncenter {
  		font-size: 16px;
  		font-style: oblique;
  		color: blue;
  	}
  
  	.v-formlayout-captioncell {
  		color: blue;
  		font-size: 17px;
  	}
  	
  	.v-verticallayout-background {
		background-image: url("images/background.jpg");
  	}
  
  	.v-caption-style {
  		font-size: 18px;
  	}
  	
  	.v-grid-cell > .v-caption {
  		text-align: center;
  	}
  	
  	.v-checkbox > label { 
  		color: blue;
  	}
  	
  	.menulayout {
		background-color: #3D4653;
	}
	
	.contentlayout {
		border: solid;
	}
	
	.caption {
		color: blue;
	}
	
	.scrollable > div {
		overflow: auto !important;
		white-space: nowrap;
	}
	
	.footercolumn {
		text-align: center;
		font-size: 20px;
		font-family: cursive;
		font: bold;
		color: red;
	}
	
	.buttoningrid {
		.v-textfield {
			text-align: center;
			font-size: 20px;
			font-family: cursive;
			font: bold;
		}
	}
}
