<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.2.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.2.xsd">
	
	<mvc:resources mapping="/resources/**" location="/resources/" />
	<mvc:default-servlet-handler/>
	<context:annotation-config />
	<context:spring-configured/>
	<mvc:annotation-driven>
		<mvc:argument-resolvers>
			<bean class = "org.springframework.mobile.device.site.SitePreferenceWebArgumentResolver"/>
			<bean class = "org.springframework.mobile.device.DeviceWebArgumentResolver"/>
		</mvc:argument-resolvers>
	</mvc:annotation-driven>
	<context:component-scan base-package="com.emh">
		<context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
	</context:component-scan>
	<context:component-scan base-package="com.emh.controllermvc"/>
	
	<mvc:interceptors>
		<bean class="org.springframework.mobile.device.DeviceResolverHandlerInterceptor"/>
		<bean class="org.springframework.mobile.device.site.SitePreferenceHandlerInterceptor"/>
	</mvc:interceptors>
	
	<tx:annotation-driven transaction-manager="hibernateTransactionManager" />

	<bean class="org.springframework.beans.factory.annotation.AutowiredAnnotationBeanPostProcessor"/>
	<bean class="org.springframework.context.annotation.CommonAnnotationBeanPostProcessor"/>

	<bean id="dataSource" class="org.apache.commons.dbcp2.BasicDataSource"
		destroy-method="close">
		<property name="driverClassName" value="com.mysql.cj.jdbc.Driver" />
		<property name="url"
			value="jdbc:mysql://localhost:3306/vaadin?useSSL=false" />
		<property name="username" value="root" />
		<property name="password" value="12345" />
		<!-- <property name="driverClassName" value="com.mysql.cj.jdbc.Driver" />
		<property name="url"
			value="jdbc:mysql://sql12.freemysqlhosting.net:3306/sql12210994?useSSL=false" />
		<property name="username" value="sql12210994" />
		<property name="password" value="9i71HraU83" /> -->
		<!-- <property name="initialSize" value="15"/>
		<property name="maxTotal" value="15"/>
		<property name="maxIdle" value="15" />
		<property name="maxWaitMillis" value="5000" />
		<property name="minIdle" value="0" /> -->
	</bean>

	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="configLocation" value="classpath:hibernate.cfg.xml" />
		<property name="annotatedClasses">
			<list>
				<value>com.emh.model.User</value>
				<value>com.emh.model.Role</value>
				<value>com.emh.model.Floor</value>
				<value>com.emh.model.Unit</value>
				<value>com.emh.model.Customer</value>
				<value>com.emh.model.Contract</value>
				<value>com.emh.model.CashFlow</value>
				<value>com.emh.model.Payment</value>
				<value>com.emh.model.CarParking</value>
				<value>com.emh.model.ParkingCashFlow</value>
				<value>com.emh.model.HistoryPayment</value>
			</list>
		</property>
	</bean>

	<bean id="hibernateTransactionManager"
		class="org.springframework.orm.hibernate5.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	<import resource="classpath*:root-context.xml"/>
	<import resource="classpath*:springquartz.xml" />

</beans>
